<section class="top">
  <div class="container-fluid">
    <div class="d-flex flex-column-reverse mb-3">
      <h1 class="top-title">
        <%= image_tag('top_logo.png') %>
      </h1>
      <p class="top-sub-title ms-2 mb-3"><%= t('.sub_title') %></p>
    </div>
    <h2 class="top-catchcopy ms-2"><%= t('.catchcopy') %></h2>
    <div class="row">
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-center col-5">
          <div class="top-button">
            <button type="button" class="btn center-block rounded-circle mt-4 fadeup" data-bs-toggle="modal" data-bs-target="#exampleModal"><%= t('.start') %></button>
          </div>
          <%= render 'caution_modal' %>
        </div>
        <div class="pe-4 col-6">
          <%= image_tag('top_image.png', class: 'w-100') %>
        </div>
      </div>
    </div>
  </div>
</section>
