<%= form_with model: @recording, local: true do |f| %>
  <div class="form-group">
    <%= f.label :id, class: 'mb-1' %>
    <%= f.text_field :id, class: 'form-control mb-3' %>
    <%= f.label :vocal_style, class: 'mb-1' %>
    <%= f.text_field :vocal_style, class: 'form-control mb-3' %>
    <%= f.label :emotion, class: 'mb-1' %>
    <%= f.text_field :emotion, class: 'form-control mb-3' %>
    <%= f.label :summary, class: 'mb-1' %>
    <%= f.text_field :summary, class: 'form-control mb-3' %>
    <%= f.label :example_vocal, class: 'mb-1' %>
    <%= f.file_field :example_vocal, class: 'form-control mb-4' %>
    <%= f.label :vocal_image, class: 'mb-1' %>
    <%= f.file_field :vocal_image, class: 'form-control mb-4' %>
    <%= f.label :embed_identifier, class: 'mb-1' %>
    <%= f.text_field :embed_identifier, class: 'form-control mb-4' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
