<% content_for(:title, t('.title')) %>
<section class="recording">
  <div class="container-fluid">
    <div class="d-flex align-items-center flex-column">
      <h1 class="h4 mb-3"><%= t('.title') %></h1>
      <div class="fake mb-3"></div>

      <div class="help ms-auto me-4 mb-2">
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-circle-question pe-1"></i><small><%= t('.how_to') %></small>
        </a>
        <%= render 'how_to_modal', recording: @recording %>
      </div>
      
    </div>
  </div>

  <div class="visualizer">
    <canvas class="w-100" id="js-canvas"></canvas>
  </div>

  <div class="container-fluid">
    <p class="text-center my-3"><span id="js-timer">マイクを許可してください</span></p>
    <div id="js-main-area">
      <div class="row">
        <div class="col-6">
          <div class="controls">
            <div class="d-flex justify-content-center">
              <button id="js-permission-button" class="btn btn-warning"><%= t('.permission') %></button>
              <button id="js-record-button" class="btn btn-primary d-none"><%= t('.record_start') %></button>
              <button id="js-stop-button" class="btn btn-danger d-none"><%= t('.record_stop') %></button>
              <button id="js-playback-button" class="btn btn-success d-none"><%= t('.vocal_play') %></button>
            </div>
          </div>
        </div> 

        <div class="col-6">
          <div class="controls">
            <div class="d-flex justify-content-center">
              <button id="js-example-button" class="btn btn-success"><%= t('.example_play') %></button>
            </div>
          </div>
        </div>
      </div>

      <div class="sound-clips my-2">
        <div class="d-flex justify-content-center">
          <audio id="js-player" controls></audio>
        </div>
      </div>

      <div class="d-flex align-items-center flex-column mt-3">
        <button id="js-result-button" class="btn btn-primary mt-1 d-none"><%= t('.to_result_page') %></button>
        <button id="js-retake-button" class="btn btn-danger mt-2 d-none"><%= t('.retake') %></button>
      </div>
    </div>

    <div class="d-flex justify-content-center d-none" id="js-spinner">
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
  </div>

  <%= audio_tag('growl_inst.mp3', id: 'js-audio-instruments') %>
  <audio id="js-audio-origin"></audio>

  <%= link_to('', @recording.example_vocal.url, id: 'js-example-vocal-link', type: 'hidden') %>
  <a id="js-download-link" type="hidden"></a>
  <a id="js-mix-link" type="hidden"></a>

  <%= form_with url: recording_results_path(@recording), id: "voiceform", local: true do |f| %>
    <%= f.hidden_field :recording_id, :value => @recording.id %>
    <%= f.hidden_field :vocal_data %>
    <%= f.hidden_field :compose_song %>
  <% end %>
</section>

<%= javascript_pack_tag 'voice' %>
